@import "../assets/global.css";

/* q {
  quotes: '"' '"' "'" "'";
} */
blockquote p::before {
  content: open-quote;
}
blockquote p::after {
  content: close-quote;
}

blockquote:has(p) {
  background: pink;
}

cite {
  font-style: inherit;
}

cite::before {
  content: open-quote;
}

cite::after {
  content: close-quote
}
